/* .row {
	margin:left 400px;	
	width:100%;
}
.after-arrow {
	margin-left : 80px;
}

.header_date {
	font-size:30px;
}

.header_allschedule {
	font-weight:bold;
	font-size:20px;
	margin-left:1300px;
	margin-top:50px;
}
.header-month {
	margin-left:800px;
	margin-top:50px;
}

 */