#plan_modal .modal-dialog {
	max-width: 500px;
	width: auto;
}

.tbl_div {
	margin-top: 50px;
}

#tbl_plan {
	/* width: 100%; */
	border: none;
}

#currentYear {
	font-weight: bold;
	width:100%;
}

#currentMonth {
	font-weight: bold;
}

#tbl_plan>thead>tr>td {
	border: none;
	width: 150px;
	font-weight: bold;
 	/* table-layout:fixed;
	word-break:break-all; */
	padding-left:0; 
}

#tbl_plan>thead>tr>td>input {
	border: none;
	width: 70px;
	display: inline;
	font-size: 20px;
}

#tbl_plan>thead>tr>td>button {
	border: none;
	background-color: white;
}

#tbl_plan>tbody>tr>td {
	width: 150px;
	height:130px;
}

#tbl_plan>tbody>tr>td:nth-child(n+7)>input {
	color: blue;
}

#tbl_plan>tbody>tr>td:first-child>input {
	color: red;
}

#tbl_plan>tbody>tr>td>input {
	border: none;
	width: 55px;
}

#tbl_plan>tbody>tr>td>ul {
	margin-top: 10px;
}

#tbl_plan>tbody>tr>td>ul>li {
	border-top: none;
	border-left: none;
	border-right: none;
	font-size: 10px;
	padding: 0px;
}

#plan_countAll {
	font-weight: bold;
}
#planList_header {
	border:none;
}
.modal-title {
	font-weight: bold;
}
#planList_body {
	margin:0px;
	padding:0px;
}
.modal-body textarea {
	border: 1px solid lightgray;
	background-color: white;
	width: 100%;
	height: 300px;
}

.modal-header button {
	border: none;
	background-color: white;
}

.plan_date {
	width: 130px;
	display: inline;
}

.planView_modal {
	border: none;
}

#editViewBtn {
	margin-left: 250px;
}

#plan_state, #plan_title, #plan_content, #plan_start_date,
	#plan_end_date {
	background-color: white;
}

.inputDay {
	font-weight: bold;
}

.plan_state_Y {
	color: red;
	font-weight: bold;
}

.pass_plan {
	text-decoration: line-through;
	color: gray;
}

span.dayCount {
	text-align: right;
	font-size: 10px;
	margin-left: 60px; 
}

span.listSpan {
	display: block;
}

.plan_title{
	white-space: nowrap;
	width: 140px;
	overflow: hidden;
	text-overflow: ellipsis;
}
#tbl_dayList > tbody >  tr > td.list_title {
	width:30px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.tooltip-content {
	background-color:lightgray;
	color:white;
}
#planList_modal {
	width:300px;
	overflow-y:hidden;
}

span.input-group-text {
	font-weight:bold;	
}
div.timeChk , .timeCheked {
	
	margin-top:25px;
	margin-left:15px;
	font-size:13px;
}

.tt {
	background-color:#FFFFCC;
}
#tbl_plan > tbody > tr {
	
}